# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Makefile
Makefile.in
Plugins/Dhf/Makefile
Plugins/Dhf/Makefile.in
Plugins/Dhf/src/.deps/
Plugins/Gzip/.libs/
Plugins/Gzip/Makefile
Plugins/Gzip/Makefile.in
Plugins/Gzip/src/.deps/
Plugins/Gzip/src/.dirstamp
Plugins/HBook/Makefile
Plugins/HBook/Makefile.in
Plugins/HBook/src/.deps/
Plugins/Hdf/Makefile
Plugins/Hdf/Makefile.in
Plugins/Hdf/src/.deps/
Plugins/Makefile
Plugins/Makefile.in
Plugins/Odbc/Makefile
Plugins/Odbc/Makefile.in
Plugins/Odbc/src/.deps/
Plugins/Root/.libs/
Plugins/Root/Makefile
Plugins/Root/Makefile.in
Plugins/Root/src/.deps/
Plugins/Root/src/.dirstamp
Plugins/Sqlite/Makefile
Plugins/Sqlite/Makefile.in
Plugins/Sqlite/src/.deps/
Plugins/Tcp/Makefile
Plugins/Tcp/Makefile.in
Plugins/Tcp/src/.deps/
Plugins/Tnt/.libs/
Plugins/Tnt/Makefile
Plugins/Tnt/Makefile.in
Plugins/Tnt/src/.deps/
Plugins/Tnt/src/.dirstamp
Plugins/Txt/.libs/
Plugins/Txt/Makefile
Plugins/Txt/Makefile.in
Plugins/Txt/src/.deps/
Plugins/Txt/src/.dirstamp
Plugins/Xml/Makefile
Plugins/Xml/Makefile.in
Plugins/Xml/src/.deps/
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
dataharvester.pc
dataharvester.spec
depcomp
docs/Makefile
docs/Makefile.in
install-sh
libtool
ltmain.sh
missing
my-configure
py-compile
python/.deps/
python/.dirstamp
python/.libs/
python/Makefile
python/Makefile.in
python/__init__.py
python/dataharvester.cc
python/dataharvester.py
src/.MultiType.cc.swp
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
stamp-h1
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in
utils/Makefile
utils/Makefile.in
utils/dataharvester_converter
utils/dataharvester_merge
utils/dataharvester_mkhierarchic
utils/dataharvester_systemwriter
utils/python_wrapper
